.env
/env*
*__pycache__*
*tempCodeRunnerFile.py
*/.DS_Store
*.vscode
*/SWENG24.code-workspace
-template
-template/*
.trunk
.vscode
*/-template
*/-template/*
leetcode/-template/*
leetcode/-template
leetcode/-template/readme.md
.DS_Store
